.card {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0;
  margin: 0 auto;

  justify-content: center;
  column-gap: 100px;
  max-width: 1180px;
  align-content: center;
}

.card__title {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
}

.card__section {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  padding: 0;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  flex-basis: 540px;
  display: inline-block;
}

.card__list-item {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  flex-wrap: wrap;
  display: flex;
  max-width: 540px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.card__list-divider card__list-divider_price {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.card__list-divider {
  text-align: left;
  padding: 0;
}

.card__list-divider_price {
  text-align: right;
  padding: 0;
  margin: 0;
}

.card__section .card__list-item:last-child {
  margin-bottom: 0;
}

.card__section:last-of-type {
  margin-bottom: 0;
}
