.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  box-sizing: border-box;

  list-style-type: none;
  padding: 80px 100px 60px 80px;
}

.footer__logo {
  height: 39px;
  width: 105px;
  margin: 0;
  position: relative;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.footer__list {
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__list-item {
  margin-bottom: 16px;
}

.footer__list-item:last-child {
  margin-bottom: 0;
}

.footer__social {
}

.footer__social-heading {
  color: #ffffff;
  margin: 0 0 20px 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__social-icon {
  margin-right: 10px;
}

.footer__social-link {
  color: #ffffff;
  text-decoration: none;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__content {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  color: #ffffff;
  margin-top: 108px;
  margin-bottom: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
