.page {
  min-width: 1100px;
  max-width: 1600px;
  display: block;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  flex-direction: column;
  display: flex;
  background-size: cover;
  background-color: #ffffff;
  background-image: url(/images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.header__image {
  max-width: 646px;
  max-width: 568px;
  padding: 0;
  margin: 0 auto;
  right: 5px;
  top: 124px;
  position: absolute;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 20px;
  list-style-type: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  color: black;
  text-decoration: none;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 30px;
}

.header__title {
  max-width: 729px;
  font-size: 60px;
  line-height: 70px;
  margin: 183px 0 0;
  letter-spacing: 0.06px;
  font-weight: 500;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__description {
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  font-family: "Inter", Arial, Sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__paragraph {
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.content {
  background-color: #0a2750;
  background-image: url(/images/background_recipes.svg);
}

.recipes {
  padding: 100px 80px 250px;
  margin-bottom: 80px;
}

.recipes__title {
  color: #ffffff;
  margin: 0;
}

.recipes__subtitle {
  color: #ffffff;
}

.recipes__videos {
  display: flex;
  gap: 100px;
  justify-content: center;
  gap: 40px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: 0;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(/images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

.reservation__title {
  color: #000000;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 auto;
  padding: 0;
  margin: 100px 0 80px 0;
}

.reservation__form {
  max-width: 385px;
  margin: 0 auto;
  position: relative;
  max-width: 400px;
}

.label-form {
  font-size: 20px;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.form-input {
  border-radius: 4px;
  height: 60px;
  width: 385px;
  margin-bottom: 32px;
  margin-top: 8px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form-button {
  border-radius: 4px;
  border: none;
  opacity: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  background-color: #2f80ed;
  color: #ffffff;
  height: 60px;
  width: 385px;
  margin-bottom: 32px;
}

.form-button:hover {
  opacity: 70%;
}

.form-checkbox {
  border-radius: 12px;
  align-items: center;
  vertical-align: middle;
}

.form-checkbox__check {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.form-checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

fieldset {
  border: none;
}
